@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dark-primary: #24292e;
    --dark-secondary: #2b3137;
    --white-primary: #ffffff;
    --white-off: #fafbfc;
    --green: #2dba4e;
    --orange: #f0440a;
    --pink: #dcacf2;
    --gray: #afb0b2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark-primary);
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em 0;
    font-family: "Montserrat", sans-serif;
}

/* Buttons */

.bttn-container {
    display: flex;
    gap: 1em;
    justify-content: flex-end;
}

.bttn {
    border: 1px solid var(--white-primary);
    text-align: center;
    text-decoration: none;
    color: var(--white-primary);
    padding: 0.5em 0;
    cursor: pointer;
}

.gen-bttn .bttn {
    padding: 10px 25px;
    margin: 1em 0;
    font-size: 1.2em;
    font-weight: 800;
    transition: all ease-in 0.3s;
}

.opt-bttn .bttn {
    background-color: transparent;
    border-radius: 50px;
    width: 7em;
    color: var(--white-primary);
    font-weight: 500;
    transition: all ease-in 0.3s;
    margin-top: 10px;
}

.gen-bttn .bttn:hover {
    color: var(--white-primary);
}

.new-bttn {
    background-color: var(--green);
}

.new-bttn:hover {
    opacity: 0.9;
}

.clear-bttn {
    background-color: var(--dark-secondary);
}

.clear-bttn:hover {
    background-color: var(--orange);
}

form button.bttn.deletes-bttn {
    background-color: red;
    color: white;
}

form button.bttn.deletes-bttn:hover {
    opacity: 0.8;
}

form button.bttn.edits-bttn:hover, form button.bttn.done-bttn:hover, form button.bttn.not-done-bttn:hover {
    background-color: var(--gray);
}

.history-bttn:hover, .main-back-bttn:hover {
    background-color: var(--gray);
}

/* task Configuration */
.task-entries {
    display: flex;
    flex-direction: column;
}

.task-container {
    margin-bottom: 1.4em;
}

.task-body-container {
    border-radius: 20px;
    padding: 1em 1em 1em 1em;
}

/* task text Config */
.task-body-container h3 {
    font-weight: 300;
    margin-bottom: 20px
}

.task-body-container p {
/*    font-weight: 400;*/
}

.empty-container {
    padding: 2.5em 0;
}

.empty-container h1 {
    color: var(--white-off);
    font-size: 2em;
}

/* Modal Form Style */
.task-row {
/*    border: 1px solid pink;*/
    display: flex;
    padding: 1em 10em;
}

.task-row input, .task-desc-input {
    flex: 1;
    border: 0px;
    background-color: #3d4247;
    color: var(--white-primary);
    font-weight: 900;
    border-radius: 10px;
    transition: all ease 0.3s;
}

.task-row input, .task-desc-input {
    outline: none;
}

.task-row input:focus, .task-desc-input:focus, #title-input:focus {
    border-bottom: 2px solid var(--green);
}

.task-row input:hover, .task-desc-input:hover, #title-input:hover {
    background-color: #78797a;
}

.task-row label {
    width: 25%;
    color: var(--white-primary);
    font-size: 1.175em;
}

input[type="date"] {
    padding: 0.5em;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Changes a black icon to white */
}

input[type="date"]:hover, input[type="color"]:hover {
    cursor: pointer;
}

#title-input {
    font-size: 2em;
    border-bottom: 3px solid var(--white-off);
    border-radius: 5px;
    background-color: transparent;
}

.task-desc-input {
    height: 240px;
    padding: 0.5em;
    resize: none;
}

.submit-bttn {
    border: 2px solid #78797a;
    color: var(--white-primary);
    background-color: transparent;
    border-radius: 50px;
    width: 100%;
    font-size: 1.175em;
    font-weight: 500;
    padding: 0.1em;
    transition: all ease 0.3s;
}

.submit-bttn:hover {
    background-color: var(--green);
    border: var(--green) 2px solid;
}

.submit-bttn:active {
    opacity: 0.8;
    color: var(--dark-primary);
}

.back-container {
    margin: 0;
    padding-bottom: 0.3;
}

.back-container a {
    text-decoration: none;
    background-color: var(--white-primary);
    border: 1px solid var(--white-primary);
    color: var(--dark-primary);
    border-radius: 50px;
    padding: 0 1.5em;
    font-weight: 500;
    transition: all ease 0.3s;
}

.back-container a:hover {
    background-color: var(--green);
    border: var(--green) 1px solid;
}

.back-container a:active {
    opacity: 0.8;
    color: var(--white-primary);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;  /* Full viewport width */
    height: 100vh; /* Full viewport height */
    background: rgba(0, 0, 0, 0.7); /* Slightly darker for better focus */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.task-form-container {
    width: 900px;
    background-color: var(--dark-secondary);
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); 
    padding: 1.3em 0;
    margin: 0; 
}

/* History Tab Specific Styles */
.not-done-bttn {
    /* width: ; */
}