<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    <link rel="stylesheet" th:href="@{/home.css}">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>
<body>

<header class="bttn-container gen-bttn">
    <a class="bttn new-bttn" 
       hx-get="/task-fill-up" 
       hx-target="#modals-here" 
       style="cursor: pointer;">New Task</a>
    <a class="bttn clear-bttn" hx-delete="/clear-tasks" hx-target="#tasks-list-container">Clear Tasks</a>
    <a class="bttn history-bttn" href="/history">Check History</a>
</header>

<div id="modals-here"></div>

<div id="tasks-list-container" th:fragment="tasks-list-wrapper" class="task-entries">
    
    <div class="task-container empty-container" th:if="${#lists.isEmpty(allTasks)}">
        <h1>You have no pending task...</h1>
    </div>

    <main id="tasks-list" th:each="task : ${allTasks}">
        <div class="task-container">
            <div class="task-body-container" th:style="'background-color:' + ${task.getTaskColor}">
                <h1 th:text="${task.title}"></h1>
                <h3 th:text="${task.description}"></h3>
                <p th:text="${task.dueStatus}"></p>
            </div>
            <div class="bttn-container opt-bttn">
                <form th:hx-patch="@{'/mark-done/' + ${task.id}}" hx-target="#tasks-list-container">
                    <button class="bttn done-bttn" type="submit">Done</button>
                </form>
    
                <form th:hx-get="@{'/task-fill-up/' + ${task.id}}" hx-target="#modals-here">
                    <button class="bttn edits-bttn" type="submit">Edit</button>
                </form>

                <form th:hx-delete="@{'/delete/' + ${task.id}}" hx-target="#tasks-list-container">
                    <button class="bttn deletes-bttn" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </main>

    <div id="modals-here" hx-swap-oob="true"></div>
</div>


</body>
</html>